body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;

}
.bg-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("movie.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.4;
	z-index: -1;
}

header {
	background-color: #17b0d6;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

nav ul li a.active {
	background-color: #fff;
	color: #11c0cc;
}

main {
	padding: 20px;
}

main img {
	display: block;
	margin: 20px auto;
	max-width: 100%;
	height: auto;
}

footer {
	background-color: #17b0d6;
	color: #fff;
	padding: 20px;
	text-align: center;
}

footer button {
	background-color: #fff;
	color: #11c0cc;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.2em;
	margin-top: 10px;
}

nav ul li a[href="signup.html"] {
    background-color: #fff;
    color: #11c0cc;
    border: 1px solid #11c0cc;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }
  
  nav ul li a[href="signup.html"]:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }

	#title_name{
		color:#17b0d6;
	}